:root{
    --gold:#B68D40;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    outline: none; border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

body{
    overflow: hidden;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background:rgba(255,51,153,.05);
}

.heading span{
    color: var(--gold);

}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #B68D40;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background:#fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

#remove_from_cart{
    font-size: 2rem;
}

#broj1{
    position: absolute;
    /* top: 0;right: 0; */
    font-size: 1rem;
    background-color: #b31010;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5rem;
    transform: translateX(20px);
}

.totalQuantity{
    position: absolute;
    /* top: 0;right: 0; */
    font-size: 1rem;
    background-color: #b31010;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5rem;
    transform: translateX(20px);
}

.cart{
    z-index: 100000;
    border: .3rem solid var(--gold);
    color: #0e0f11;
    position: fixed;
    top: 0;
    right:-100%;
    width: 35%;
    height: 100vh;
    background-color: #fff;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 20px;
    transition:right .5s;
}

.cart h2{
    color: var(--gold);
    padding: 20px;
    margin: 0;
}

.cart .listCart .item{
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.cart .listCart img{
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.cart .listCart .item .name{
    font-weight: bold;
    font-size: 2.2rem;
}

.cart .listCart .item .quantity{
    display: flex;
    justify-content: end;
    align-items: center;
    transform: translateX(3rem);
    /* width: 20rem; */
}

.cart .buttons .checkout a{
    color:#0e0f11;
    font-size: 1.6rem;
}

button{
    background: #ffffff00;
}

.cart .listCart .item .quantity button{
    height: 2rem;
    width: 2rem;
    font-size: 4rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    transform: translateX(-80px);
    /* margin-top: 1rem; */
    border-radius: 1rem;
    background: rgba(255, 217, 0, 0);
    /* color: #fff; */
    padding: 1.2rem .6em;
    cursor: pointer;
    font-size: 3rem;
}

.cart .listCart .item .quantity button span{
    transform: translate(-28px,-28px);
}

.cart .listCart .item .quantity span{
    transform: translateX(-80px);
}
.cart .listCart .item span{
    display: block;
    width: 50px;
    text-align: center;
    font-size: 4rem;
} 

.cart .listCart{
    padding: 20px;
    overflow: auto;
}

.cart .listCart::-webkit-scrollbar{
    width: 0;
}

.cart .buttons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    font-size: 1.6rem;
}

.cart .buttons a{
    color: #fff;
}

.cart .listCart .item .content .price{
    font-size: 1.3rem;
}

.cart .buttons div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border: .2rem solid var(--gold);
}

.quantity{
    transform: translateX(-7rem);
}

.kosarica_subtotal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: .2rem solid var(--gold);
    font-size: 2rem;
}






header a img{
    height: 10rem;
}

header .logo span{
    color:#D6AD60;
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: var(--gold);
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--gold);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 0.1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(proizvodi-slike/logo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content h3{
    font-size: 6rem;
    color:peru;
}

.home .content span{
    font-size: 3.5rem;
    color: #ecb040;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.7rem;
    color: #000000;
    padding: 1rem 0;
    line-height: 2;
    max-width: 45vw;
}

.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.proizvodi .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.proizvodi .row .images-container{
    flex: 1 1 40rem;
    position: relative;
}

.proizvodi .row .images-container img, .proizvodi .row .images-container img{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.proizvodi .row .images-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background:#fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .video-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background:#fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex:1 1 40rem;
}

.proizvodi .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #333;
}

.proizvodi .row .content h3{
    font-size: 3rem;
    color: #333;
}

.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

#left{
    order: -1;
}

#right{
    order: 0;
}

.proizvodi .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icons-container{
    background:#eee;
    display:flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    background: #fff;
    border: 1rem solid rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.icons-container .icons img{
    height: 5rem;
    margin-right: 2rem;   
}

.icons-container .icons h3{
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span{
    color: #555;
    font-size: 1.3rem;
}

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}

.contact .row form{
    flex: 1 1 30rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex:1 1 30rem;
}

.contact .row .image img{
    width: 75%;
}

.contact .row form .box{
    padding: 1rem;
    font-size: 2rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: .7rem 0;
}

.contact .row form .box:focus{
    border-color: var(--gold);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}



.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color: var(--gold);
    text-decoration: underline;
}

.footer .box-container .box img{
    margin-top:1rem;
}

.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer .credit span{
    color: var(--gold);
}

.impresum .naslov h2{
    color: var(--gold);
    font-size: 4rem;
    display: flex;
    justify-content: center;
}

.impresum .tekst p{
    color: #333;
    font-size: 2rem;
}

.impresum .tekst{
    margin: 1rem;
}

.impresum .tekst p span{
    color: black;
    font-weight: bolder;
    font-size: 2.1rem;
}

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box{
    flex:1 1 30rem;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;

}

.products .box-container .box .discount{
    position: absolute;
    top: 1rem;left: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: peru;
    background:rgba(255,51,153,.05);
    z-index: 1;
    border-radius: .5rem;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
    cursor: pointer;
}

.products .box-container .box .image img{
    height: 25rem;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem;left: 0;right: 0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom: 0rem;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 1.7rem;
    width: 50%;
    background:var(--gold);
    color: #fff;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
    cursor: pointer;
}

.cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
    cursor: pointer;
    border-radius: 10%;
}

.products .box-container .box .image .icons a:hover{
    background:#333;
}

.products .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color: var(--gold);
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
}

#istrazi-ponudu{
    text-align: center;
    width: 100%;
    border-style: solid;
    border-radius: 14px;
    font-size: 3rem;
    margin-top: 2rem;
    color:#000;
    background-color: gold;
}

#istrazi-ponudu a{
    color: black;
}



/* Split the screen in half */
 .split {
    height: 95%;
    width: 50%;
    z-index: 1;
    top: 15vh;
    position:fixed;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .left {
    left: 0;
    background-color: #111;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

  .left::-webkit-scrollbar {
    display: none;
  }
  
  .right {
    right: 0;
    display: block;
    background: rgba(146, 146, 146, 0.918);
    z-index: 1;
  }
  
  .fa-5x{
    position: fixed;
    right: 1rem;
    cursor: pointer;
  }

  /* If you want the content centered horizontally and vertically */
  .product_info {
    width: 75%;
    margin-top: 10rem;
    text-align: center;
    text-transform:uppercase;
    border: #000;
    border-style: solid;
    height: 25vh;
    left: 15%;
    position: absolute;
  }

  .product_name{
    font-size: 6rem;
    font-weight: bold;
    font-style: italic;
  }

  .product_price{
    font-size: 4rem;
    font-style: oblique;
    color: gold;
    float: left;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  }

  .product_size{
    margin-top: 7rem;
    font-size: 3rem;
    font-style: oblique;
    float: left;
    transform: translateX(9vw);
  }

.product_add{
    transform: translate(-15vh, 20vh);
    font-size: 5rem;
}

.product_add a{
    border-radius: 20px;
    background:var(--gold);
    color: #fff;
    position: relative;
}

  .product_images img {
    width: 50vw;
    height: auto;
  }


.payment-options{
    display: none;
    gap: 4rem;
    justify-content: center;
    margin: 3rem;
    font-size: 3rem;
    background: buttonface;
}

.payment-options .paypal-option form input{
    font-size: 3rem;
    cursor: pointer;
    text-transform: uppercase;
}

.payment-options .bank-transfer button p{
    font-size: 3rem;
    cursor: pointer;
    text-transform: uppercase;
}




@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    .home{
        background-position: left;
    }
    .cart{
        width: 80%;
    }
    .cart h2{
        font-size: 3rem;
    }
    .cart .listCart .item{
        height: 15rem;
    }
    .cart .listCart img{
        height: 120px;
        width: 100px;
    }
    .cart .listCart .item .name{
        font-size: 2rem;
        transform: translateX(40px);
    }
    .cart .listCart .item .quantity{
        font-size: 2rem;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .cart .listCart .item .quantity .value{
        font-size: 2rem;
    }

    .cart .listCart .item .quantity button{
        height: 5rem;
        width: 5rem;
        font-size: 3rem;
        font-weight: bolder;
        transform:translateY(2px);
    }

    .cart .listCart .item .content .price{
        font-size: 2rem;
        transform: translateX(40px);
    }
    .cart .buttons .close{
        font-size: 3rem;
    }
    .cart .buttons .checkout{
        font-size: 3rem;
    }

    .split{
        height: 100svh;
        width: 100%;
        overflow: hidden;
        position: fixed;
        top: 5vh;
        margin: 0;
        padding: 0;
    }
    .left{
        height: 54vh;
    }
    .right{
        height: 100vh;
        width: 100vw;
        top: 59vh;
        overflow: scroll;
    }

      .product_images{
        width: 500px;
        height: 100vw;
        transform: rotate(-90deg) translateY(-500px);
        transform-origin: top right;
        overflow-x: scroll;
        overflow-y: scroll;
      }
      .product_images div {
        position: relative;
        width: 100%;
        height: 500px;
        transform: rotate(90deg);
        margin: 0;
      }
      .product_images div:first-child {
        margin: 0;
      }
      .product_images img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }  
      body {
        margin: 0;
      }
      ::-webkit-scrollbar {
        display: none;
      }
      * {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      .product_add{
        transform: translate(-20vw, 15vh) !important;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100vw;
      }
      
      .fa-5x{
        transform: translateY(-42vh);
      }

      .product_info{
        height: max-content;
        width: 85%;
        margin-top: 6px;
        left: 8%;
      }
      .product_size{
        transform: translateX(19vw);
      }

      .contact .row .image img {
        display: none;
    }
    .contact .row form {
        flex: auto;
    }





}

#btn-remove span{
    font-size: 2rem;
    transform: translate(-60px,-15px);
}

.cart .listCart .item .quantity #btn-remove{
    background: rgba(255, 255, 255, 0);
}


@media (max-width:768px){
    .cart .buttons, .kosarica_subtotal{
        transform: translateY(-200px) !important;
    }
    #btn-remove span{
        transform: translateX(-60px);
    }
    .cart .listCart .item .quantity button{
        height: 4rem;
        width: 4rem;
        font-size: 3rem;
        font-weight: bolder;
        transform:translateX(-50px);
    }
    .cart .listCart .item .quantity .value{
        transform: translateX(-50px);
        font-size: 3rem;
    }


    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;left: 0;right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background:#fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;

    }

    .home .content span{
        font-size: 2.5rem;
        
    }
    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    #left{
        order: 0;
    }
    
    #right{
        order: 0;
    }

      .product_add{
        transform: translate(-20vw, 15vh) !important;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100vw;
      }
      
      .fa-5x{
        transform: translateY(-42vh);
      }

      .product_info{
        height: max-content;
        width: 85%;
        margin-top: 6px;
        left: 8%;
      }

      .product_price{
        transform: translateX(-5vw);
      }
      .product_size{
        transform: translateX(17vw);
      }


      .home{
        min-height: 100vh;
        background: url(proizvodi-slike/logo.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }
    .home .content h3{
        color:rgb(247, 156, 66);
    }
    .home .content p{
        font-size: 1.7rem;
        color: #000000;
        max-width: fit-content;
        line-height: 2;
    }
}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 3rem;
    }


    .cart{
        width: 100%;
    }
    #btn-remove span{
        transform: translate(-60px,-10px);
        font-size: 2rem;

    }
    .cart .listCart .item .quantity button{
        height: 2.5rem;
        width: 2.5rem;
        font-size: 1rem;
        font-weight: bolder;
        transform: translate(-60px,45px);
        background-color: #0e0f1100;
        /* transform:translateX(-50px); */
    }
    .cart .listCart .item .quantity .value{
        /* transform: translateX(-50px); */
        font-size: 3rem;
        transform: translate(-67px,40px);
    }

    .product_add{
        transform: translate(-10vw, 10vh) !important;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100vw;
      }
      
      .fa-5x{
        transform: translateY(-42vh);
      }

      .product_info{
        height: 20vh;
        width: 85%;
        margin-top: 6px;
        left: 8%;
      }

      .product_price{
        transform: translateX(-25vw);
      }
      .product_size{
        transform: translateX(6vw);
      }


      .home .content h3{
        font-size: 4rem;
    }

}

@media (max-width:373px) {
    .product_add{
        transform: translate(-10vw, 6vh);
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100vw;
        font-size: 4rem;
      }
      
      .fa-5x{
        transform: translateY(-42vh);
      }

      .product_info{
        height: 20vh;
        width: 85%;
        margin-top: 6px;
        left: 8%;
      }

      .product_price{
        transform: translateX(-25vw);
        font-size: 3rem;
        -webkit-text-stroke-width: 0;
      }
      .product_size{
        transform: translateX(6vw);
        font-size: 3rem;
      }
      .product_name{
        font-size: 5rem;
      }




      .home .content h3{
        font-size: 3rem;
    }
}

@media (max-width:1330px) {
    .product_add{
        transform: translate(0, 20vh);
    }

    .contact .row .image img {
        width: 110%;
    }
}

@media (max-width:1055px) {
    .product_name{
        font-size: 5rem;
    }

    .contact .row .image img {
        width: 55vh;
        height: 50vh;
    }
}